html, body {
  /* overflow-y:hidden; */
  height:100%;
  background-color: #FFFFFF;
}

/* Scale canvas with resize attribute to full size */
canvas[resize] {
  border: 2px solid black;
    width: 70%;
    height: 50%;
    margin-left: 15%;
    margin-top: 100px;
}

#footer {
  text-align: center;
  margin-top: 20px;
}